/* ======================================================================   
 * Font Family Setup
 * ======================================================================*/
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.woff2") format("woff2"),
    url("./fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.woff2") format("woff2"),
    url("./fonts/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Thin.woff2") format("woff2"),
    url("./fonts/Poppins-Thin.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.woff2") format("woff2"),
    url("./fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

/* ======================================================================
 * GENERAL STYLES
 * ======================================================================*/
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  color: $color-text-lighter;
  font-family: "sora", sans-serif;
  overflow-x: hidden;
  position: relative;
  // font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  font-family: "Sora";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  // font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2 {
  color: $color-text;
}

h2 {
  font-size: $font-size-h1;
  font-weight: 600;
  letter-spacing: -0.025rem;
  text-transform: uppercase;

  @media (max-width: $tab-md) {
    font-size: $font-size-h1-sm;
  }

  @media (max-width: $mob-md) {
    font-size: $font-size-h2;
  }
}

p {
  line-height: 1.7;
  font-size: 1.25rem;
  font-weight: 300;

  @media (min-width: $desk-md) {
    font-size: $font-size-body-larger;
  }

  @media (max-width: $tab-lg) {
    font-size: 1.2rem;
  }

  @media (max-width: $mob-md) {
    font-size: 18px;
  }
}

/* Buttons */
.btn {
  min-height: 57px;
  max-height: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.15rem 2rem 1.1rem;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.75rem;
  // border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.025s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
  // font-family: "Poppins";

  img {
    margin-right: 0.75rem;
    width: 1.25rem;
  }

  &:hover {
    transform: scale(1.02) translateY(-0.15rem);
    box-shadow: 0 0.75rem 2rem -0.25rem rgba($color-primary-dark, 0.3);
  }

  &:active {
    transform: scale(0.99) translateY(0.035rem);
    box-shadow: 0 0.75rem 1.75rem -0.25rem rgba($color-primary-dark, 0.3);
  }

  &.elevated {
    box-shadow: 0 0.5rem 1.25rem -0.25rem rgba($color-primary-darkest, 0.3),
      0 0.125rem 0.25rem rgba($color-primary-darkest, 0.05);
    border-bottom: 4px solid rgba($color-primary-dark, 0.1);
  }

  @media (max-width: $tab-sm) {
    padding: 1.15rem 2.15rem;
  }
}

.btn--primary {
  background: $color-primary;
  color: #fff;
  border-bottom: 4px solid rgba($color-primary-dark, 0.25);
  padding-top: 1.2rem;
  padding-bottom: 1.15rem;

  &.elevated {
    box-shadow: 0 0.5rem 1rem -0.25rem rgba($color-primary-darkest, 0.5),
      0 0.125rem 0.25rem rgba($color-primary-darkest, 0.05);
    border-bottom: 5px solid rgba($color-primary-dark, 0.45);
  }

  &:hover {
    img {
      animation: zoom 0.4s ease-in-out;
    }
  }
}

.btn--secondary {
  background: #fff;
  color: $color-primary;

  &:hover {
    img {
      animation: shake 0.4s ease-in-out;
    }
  }
}

.seperator {
  height: 0.5rem;
}

.underline {
  position: relative;
  margin-bottom: 3rem;

  // &:after {
  //   content: "";
  //   width: 5rem;
  //   height: 0.25rem;
  //   position: absolute;
  //   bottom: -1.25rem;
  //   background: $color-secondary;
  // }
}

/* ======================================================================
 * NAVIGATION BAR
 * ======================================================================*/
@import "./layout/navbar";

/* ======================================================================
 * MAIN SECTIONS
 * ======================================================================*/
.section {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.mycontainer {
  width: 90%;
  max-width: 1300px;
  margin: auto;

  @media screen and (max-width: $desk-md) {
    max-width: 1140px;
  }
}

/* ======================================================================
 * HEADER & HERO
 * ======================================================================*/
@import "./layout/header";
@import "./layout/dev_header";
@import "./components/spinning-icons";

/* ======================================================================
 * WHAT I DO - SECTION
 * ======================================================================*/
@import "./layout/what_i_do";

/* ======================================================================
* WHY CHOOSE ME - SECTION
* ======================================================================*/
.choose-me {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0rem;
    left: 0;
    background: $color-primary-dark;
    z-index: -1;

    @media (max-width: $desk-sm) {
      height: 100%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8.5vw;
    width: 100%;
    height: 12.5vw;
    z-index: -1;
    background-image: url("../img/fluidbg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.choose-me__content {
  h2 {
    text-align: center;
    font-family: $font-family-heading;
    margin-bottom: 4rem;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: $desk-sm) {
    padding: 8rem 0 6rem;

    h2 {
      color: white;
    }
  }

  @media (max-width: $tab-sm) {
    padding: 4rem 0 4rem;

    h2 {
      color: white;
    }
  }
}

.choose-me__content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 2rem;
  //max-width: 1140px;
  margin: auto;
  position: relative;
  padding-bottom: 4rem;

  .card {
    display: grid;
    grid-template-rows: 7rem minmax(0.8rem, 3.5rem) minmax(3rem, auto);
    row-gap: 1rem;
    min-height: 4rem;
    box-shadow: 0 1.5rem 2.5rem -0.5rem rgba(30, 5, 70, 0.3);
    padding: 2.25rem 2.15rem 2.5rem;
    background: $color-primary;
    border-radius: 0.75rem;
    color: #fff;
    transition: ease-out 0.2s;

    .img {
      display: flex;
      align-items: flex-end;
      // margin-bottom: 1rem;

      img {
        height: 100%;
      }

      lord-icon {
        width: 104px;
        height: 104px;
        align-self: center;
        margin-left: -1rem;
        margin-bottom: 0.5rem;
      }
    }

    h3 {
      display: flex;
      align-items: flex-end;
      font-size: $font-size-h3-sm;
      font-weight: 600;
      letter-spacing: -0.035rem;
      line-height: 1.1;
    }

    p {
      color: rgba($color-white, 0.6);
      // font-weight: 300;
      // font-size: $font-size-body-larger;
    }

    &:hover {
      transform: translateY(-0.25rem) scale(1.02);
    }

    @media (max-width: $desk-sm) {
      row-gap: 1rem;
    }

    @media (max-width: $tab-md) {
      grid-template-rows: 7rem minmax(0.8rem, auto) minmax(3rem, auto);
    }
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    p {
      font-size: 17px;
    }
  }

  @media (max-width: $desk-sm) {
    max-width: 720px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;

    .card:last-child {
      margin: 0 auto;
      grid-column: span 2;
      max-width: 280px;
    }
  }

  @media (max-width: $tab-md) {
    max-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    row-gap: 1.5rem;

    .card:last-child {
      margin: 0 auto;
      grid-column: span 1;
      max-width: inherit;
    }

    h2 {
      margin-bottom: 4rem;
    }
  }
}

/* ======================================================================
 * MY WORK - SECTION
 * ======================================================================*/
.work {
  margin-top: 8rem;


  &__content {
    display: flex;

    h2 {
      &:after {
        left: 0;
      }
    }

    p {
      line-height: 1.7;
    }

    .text {
      max-width: 35rem;
      flex: 1 0 45%;
      display: flex;
      justify-content: center;
      flex-flow: column;

      p {
        padding-right: 3rem;
        // font-size: $font-size-body-larger;
        line-height: 1.7;

        @media (max-width: $tab-md) {
          padding-right: 0;
        }
      }

      .cta {
        margin-top: 3.5rem;
      }
    }

    .img {
      flex: 2 0 55%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 45rem;
        //margin-left: 4rem;
      }
    }

    @media screen and (max-width: 800px) {
      width: 90%;
      max-width: 480px;
      flex-flow: column;
      margin-top: 0;
      margin: auto;

      .img {
        margin-top: 2rem;
      }
    }
  }

  &.dev {
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding: 5rem 1rem 3rem;
    background: #faf9fa;
    // background: #f3f1fa;
    box-shadow: 0 -1rem 1rem -.35rem inset rgba($color-primary-dark, .05);
  }
}

/* ======================================================================
 * CONTACT ME - SECTION
 * ======================================================================*/
@import "./layout/contact_me";

/* ======================================================================
 * FOOTER - SECTION
 * ======================================================================*/
@import "./layout/footer";

/* ======================================================================
  * OTHER
  * ======================================================================*/
@import "./components/choice_card";

#fab {
  z-index: 2000;
  box-sizing: border-box;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 6rem;
  min-height: 6rem;
  padding: 0.125rem;
  border-radius: 50%;
  box-shadow: 0 0.75rem 2.5rem rgba($color-primary-darkest, 0.35);
  transition: 0.5s 0.2s ease-out;

  &.hide {
    transform: translateX(10rem);
    opacity: 0;
  }
}

*.remove {
  display: none !important;
}