/* COLORS */
$color-primary-lighter: rgb(110, 61, 233);
$color-primary: rgb(82, 34, 208);
$color-primary-dark: #3404b2;
$color-primary-darkest: rgb(37, 8, 112);
$color-primary-light: #ded6f1;
$color-secondary: #dd9742;
$color-text: #332e4b;
$color-text-lighter: #524f69;
$color-white: #ffffff;
$color-bg: #f3f1f6;

// color-codes
$color-primary-code: 82,
34,
208;
$color-primary-dark-code: 52,
04,
178;
$color-secondary-code: 221,
151,
66;

/* FONT */
// sizes
//$font-size-display: 4.209rem;
$font-size-display: 4.7rem;
$font-size-display-sm: 4.209rem;
$font-size-display-xsm: 3.59rem;
$font-size-h1: 3.157rem;
$font-size-h1-sm: 2.8rem;
$font-size-h1-xsm: 2.5rem;
$font-size-h2: 2.369rem;
$font-size-h2-sm: 1.953rem;
$font-size-h3: 1.777rem;
$font-size-h3-sm: 1.577rem;
$font-size-body-larger: 1.333rem;
$font-size-body-smaller: 0.75rem;

// family
$font-family-heading: "poppins",
"segoe ui",
"gill  sans mt",
sans-serif;
// $font-family-heading: "Plus Jakarta Sans", "segoe ui", "gill  sans mt",sans-serif;

/* BREAKPOINTS */
$mob-sm: 320px;
$mob-xmd: 380px;
$mob-md: 480px;
$mob-xlg: 520px;
$mob-lg: 575px;

$tab-sm: 640px;
$tab-md: 767px;
$tab-lg: 820px;

$desk-sm: 992px;
$desk-smd: 1060px;
$desk-md: 1400px;
$desk-lg: 1920px;