.header {
  display: flex;
  align-items: center;
  // padding-bottom: 25vh;
  min-height: 100vh;
  height: 620px;
  // max-height: 800px;
  padding: 7rem 0;
  box-sizing: border-box;
  background-image: radial-gradient(circle,
      rgba($color-primary-light, 0.4) 45%,
      rgba($color-primary-light, 0.7)),
    url("../img/herobg-center.png");
  background-size: cover;
  background-position: center center;
  transition: 0.4s ease-in-out;

  @media screen and (min-height: 780px) {
    min-height: 736px;
  }

  @media (max-width: $tab-sm) {
    // padding-bottom: 20vh;
    background-position: center top;
    background-image: radial-gradient(circle,
        rgba($color-primary-light, 0.4) 45%,
        rgba($color-primary-light, 0.7)),
      url("../img/herobg-center-mob.jpg");
  }
}

.hero .content {
  max-width: 45rem;
  box-sizing: border-box;
  // padding-top: 22.5vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;

  h3 {
    margin: 1rem 0 1.5rem;
    font-size: $font-size-h3-sm;
    font-family: "sora", sans-serif;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;

    @media (max-width: $tab-md) {
      font-size: $font-size-body-larger;
      margin-bottom: 1.25rem;
    }

    @media (max-width: $mob-md) {
      font-size: 1.25rem;
      // margin-bottom: 1.25rem;
    }
  }

  h1,
  h2 {
    margin-bottom: 1.25rem;
    font-size: $font-size-display;
    font-weight: 600;
    letter-spacing: -0.16rem;
    line-height: 1.05;
    animation: bounce-in 0.5s ease-out forwards;
    text-align: center;

    &.go {
      animation: slide-down-out 0.5s ease-in-out forwards;
    }

    .highlight {
      position: relative;
      display: inline-block;
      color: $color-primary;
    }

    @media (max-width: $desk-md) {
      font-size: $font-size-display-sm;
    }

    @media (max-width: $tab-md) {
      font-size: $font-size-display-xsm;
      max-width: 36rem;
    }

    @media (max-width: 576px) {
      font-size: $font-size-h1;
      max-width: 30rem;
    }

    @media (max-width: $mob-xlg) {
      font-size: $font-size-h1;
      max-width: 26rem;
    }

    @media (max-width: $mob-md) {
      font-size: $font-size-h1-sm;
      max-width: 22rem;
    }

    @media (max-width: $mob-sm) {
      font-size: $font-size-h1-xsm;
      max-width: 22rem;
    }
  }

  .ctas {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .btn {
      &--primary {
        margin-right: 1rem;
      }
    }

    @media screen and (max-width: $mob-lg) {
      max-width: 20rem;
      width: 100%;
      flex-flow: column;
      align-items: stretch;

      .btn--primary {
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }
  }

  @media (min-width: $desk-md) {
    max-width: 48rem;
  }

  @media screen and (max-width: $tab-md) {
    max-width: 35rem;
    // padding-top: 17.5vh;
  }
}