/* imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700&family=Sora:wght@300;400;500;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.typewriter-done h2 span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
  blink-caret .75s step-end infinite;
}
.typewriter h2 span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end) infinite alternate,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/* COLORS */
/* FONT */
/* BREAKPOINTS */
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes zoom {
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}
@keyframes bounce-in {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  65% {
    transform: translateY(0);
  }
}
@keyframes slide-down-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(3.5rem);
    opacity: 0;
  }
}
/* ======================================================================   
 * Font Family Setup
 * ======================================================================*/
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.woff2") format("woff2"), url("./fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.woff2") format("woff2"), url("./fonts/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Thin.woff2") format("woff2"), url("./fonts/Poppins-Thin.ttf") format("ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.woff2") format("woff2"), url("./fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.woff2") format("woff2"), url("./fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}
/* ======================================================================
 * GENERAL STYLES
 * ======================================================================*/
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  color: #69684f;
  font-family: "sora", sans-serif;
  overflow-x: hidden;
  position: relative;
}

button {
  font-family: "Sora";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  color: #332e4b;
}

h2 {
  font-size: 3.157rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 2.369rem;
  }
}

p {
  line-height: 1.7;
  font-size: 1.25rem;
  font-weight: 300;
}
@media (min-width: 1400px) {
  p {
    font-size: 1.333rem;
  }
}
@media (max-width: 820px) {
  p {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 18px;
  }
}

/* Buttons */
.btn {
  min-height: 57px;
  max-height: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.15rem 2rem 1.1rem;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.025s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
}
.btn img {
  margin-right: 0.75rem;
  width: 1.25rem;
}
.btn:hover {
  transform: scale(1.02) translateY(-0.15rem);
  box-shadow: 0 0.75rem 2rem -0.25rem rgba(52, 4, 178, 0.3);
}
.btn:active {
  transform: scale(0.99) translateY(0.035rem);
  box-shadow: 0 0.75rem 1.75rem -0.25rem rgba(52, 4, 178, 0.3);
}
.btn.elevated {
  box-shadow: 0 0.5rem 1.25rem -0.25rem rgba(37, 8, 112, 0.3), 0 0.125rem 0.25rem rgba(37, 8, 112, 0.05);
  border-bottom: 4px solid rgba(52, 4, 178, 0.1);
}
@media (max-width: 640px) {
  .btn {
    padding: 1.15rem 2.15rem;
  }
}

.btn--primary {
  background: #fffb00;
  color: #1e1e1e;
  border-bottom: 4px solid rgba(52, 4, 178, 0.25);
  padding-top: 1.2rem;
  padding-bottom: 1.15rem;
}
.btn--primary.elevated {
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(37, 8, 112, 0.5), 0 0.125rem 0.25rem rgba(37, 8, 112, 0.05);
  border-bottom: 5px solid rgba(52, 4, 178, 0.45);
}
.btn--primary:hover img {
  animation: zoom 0.4s ease-in-out;
}

.btn--secondary {
  background: #fff;
  color: #1e1e1e;
}
.btn--secondary:hover svg {
  animation: shake 0.4s ease-in-out;
}

.seperator {
  height: 0.5rem;
}

.underline {
  position: relative;
  margin-bottom: 3rem;
}

/* ======================================================================
 * NAVIGATION BAR
 * ======================================================================*/
.navbar {
  /* positioning */
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  /* display and box-model */
  box-shadow: 0 0.8rem 1rem rgba(51, 46, 75, 0.05);
  /* other */
  animation: dropdown 0.3s ease-out alternate;
  background: #1e1e1e;
  background: #1e1e1e;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
  font-family: "poppins", "segoe ui", sans-serif;
}
.navbar.rounded {
  position: absolute;
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(110, 61, 233, 0.1);
  background: #1e1e1e;
  box-shadow: 0 0.5rem 1.5rem rgba(52, 4, 178, 0.1);
  animation: none;
}
.navbar .mycontainer {
  width: 95%;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
}
@media (max-width: 767px) {
  .navbar {
    height: auto;
  }
  .navbar .mycontainer {
    max-width: 100%;
    width: 100%;
  }
}

.navbar .nav {
  /* positioning */
  height: 100%;
  /* display and box-model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* other */
  font-weight: 400;
}
.navbar .nav__brand__container {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav__brand {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform:none;
  white-space: nowrap;
}
.navbar .nav__brand img {
  height: 24px;
  margin-top: -0.15rem;
  padding-right: 0.25rem;
}
.navbar .nav__brand a {
  display: flex;
  align-items: flex-end;
  align-items: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.075rem;
}
.navbar .nav__list {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  transition: 0.2s ease-in-out;
}
.navbar .nav__list li {
  height: 100%;
}
.navbar .nav__list li.cta {
  margin-top: 8px;
}
.navbar .nav__list li.cta .btn {
  border-bottom: 4px solid rgba(52, 4, 178, 0.05);
  box-shadow: 0 0.15rem 0.5rem rgba(52, 4, 178, 0.15);
}
.navbar .nav__link {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.15rem;
  padding-right: 1.15rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.6;
  text-transform: uppercase;
}
.navbar .nav__link:hover {
  color: #fffb00;
}
.navbar .nav__link.active {
  font-weight: 600;
  opacity: 1;
}
.navbar .nav__opener {
  height: 2rem;
  display: none;
  align-self: center;
  align-items: flex-end;
  flex-flow: column nowrap;
  justify-content: space-around;
  border-radius: 4px;
  margin: 4px;
  padding: 0.8rem 0.8rem 0.8rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.navbar .nav__opener .bar {
  width: 2rem;
  height: 2px;
  display: inline-block;
  border-radius: 8px;
  background: #fffb00;
  transition: inherit;
}
.navbar .nav__opener .bar:nth-child(2) {
  width: 1.25rem;
  align-self: flex-end;
}
/* -------------------------------------
 * Collapse Navbar on Tablets and below 
 * -------------------------------------*/
@media (max-width: 767px) {
  .navbar .nav {
    flex-flow: column;
    align-items: stretch;
  }
  .navbar .nav .nav__brand__container {
    box-sizing: border-box;
    align-items: center;
    padding-left: 5%;
  }
  .navbar .nav .nav__brand__container .nav__opener {
    display: flex;
    box-sizing: content-box;
  }
  .navbar .nav .nav__list {
    max-height: 0;
    width: 99%;
    flex-flow: column;
    align-items: stretch;
    margin-left: 1%;
    overflow-y: hidden;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 4px;
    list-style-type: none;
  }
  .navbar .nav .nav__list li {
    display: flex;
    align-items: center;
  }
  .navbar .nav .nav__link {
    width: 100%;
    padding: 1.3rem 4%;
    justify-content: center;
  }
  .navbar .nav .nav__link .active {
    background: #3404b2;
  }

  .navbar.open .nav__list {
    max-height: 300px;
    margin-bottom: 8px;
  }
  .navbar.open .nav__opener {
    height: 2.05rem;
  }
  .navbar.open .nav__opener .bar:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
  .navbar.open .nav__opener .bar:nth-child(2) {
    align-self: center;
    width: 0;
  }
  .navbar.open .nav__opener .bar:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
}
@keyframes dropdown {
  0% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* ======================================================================
 * MAIN SECTIONS
 * ======================================================================*/
.section {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.mycontainer {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .mycontainer {
    max-width: 1140px;
  }
}

/* ======================================================================
 * HEADER & HERO
 * ======================================================================*/
.header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 620px;
  padding: 7rem 0;
  box-sizing: border-box;
  background-image: url("../img/herobkg.png") !important;
  background-size: cover;
  background-position: center center;
  transition: 0.4s ease-in-out;
}
@media screen and (min-height: 780px) {
  .header {
    min-height: 736px;
  }
}
@media (max-width: 640px) {
  .header {
    background-position: center top;
    background-image: radial-gradient(circle, rgba(222, 214, 241, 0.4) 45%, rgba(222, 214, 241, 0.7)), url("../img/herobg-center-mob.jpg");
  }
}

.hero .content {
  max-width: 45rem;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hero .content h3 {
  margin: 1rem 0 1.5rem;
  font-size: 1.577rem;
  font-family: "sora", sans-serif;
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
  color: #fff;
}
@media (max-width: 767px) {
  .hero .content h3 {
    font-size: 1.333rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 480px) {
  .hero .content h3 {
    font-size: 1.25rem;
  }
}
.hero .content h1,
.hero .content h2 {
  margin-bottom: 1.25rem;
  font-size: 4.7rem;
  font-weight: 600;
  letter-spacing: -0.16rem;
  line-height: 1.05;
  animation: bounce-in 0.5s ease-out forwards;
  text-align: center;
  color: #fff;
}
.hero .content h1.go,
.hero .content h2.go {
  animation: slide-down-out 0.5s ease-in-out forwards;
}
.hero .content h1 .highlight,
.hero .content h2 .highlight {
  position: relative;
  display: inline-block;
  color: #fffb00;
}
@media (max-width: 1400px) {
  .hero .content h1,
.hero .content h2 {
    font-size: 4.209rem;
  }
}
@media (max-width: 767px) {
  .hero .content h1,
.hero .content h2 {
    font-size: 3.59rem;
    max-width: 36rem;
  }
}
@media (max-width: 576px) {
  .hero .content h1,
.hero .content h2 {
    font-size: 3.157rem;
    max-width: 30rem;
  }
}
@media (max-width: 520px) {
  .hero .content h1,
.hero .content h2 {
    font-size: 3.157rem;
    max-width: 26rem;
  }
}
@media (max-width: 480px) {
  .hero .content h1,
.hero .content h2 {
    font-size: 2.8rem;
    max-width: 22rem;
  }
}
@media (max-width: 320px) {
  .hero .content h1,
.hero .content h2 {
    font-size: 2.5rem;
    max-width: 22rem;
  }
}
.hero .content .ctas {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.hero .content .ctas .btn--primary {
  margin-right: 1rem;
}
@media screen and (max-width: 575px) {
  .hero .content .ctas {
    max-width: 20rem;
    width: 100%;
    flex-flow: column;
    align-items: stretch;
  }
  .hero .content .ctas .btn--primary {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
@media (min-width: 1400px) {
  .hero .content {
    max-width: 48rem;
  }
}
@media screen and (max-width: 767px) {
  .hero .content {
    max-width: 35rem;
  }
}
.details{
  position:absolute;
  width:500px;
  height:350px;
  top:50%;
  left:50%;
  margin:-100px 0 0 -120px;
  animation:bigBoxAnimation 6s linear infinite;
}

.fly_set_one,#fly_set_two {
  position:absolute;
  top:60%;
  left:50%;
  width:40px;
  height:40px;
  margin:-20px 0 0 -20px;
  animation:boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
}
#fly_set_two {
  animation:boxAnimation 3.2s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  transform:matrix(-1,0,0,1,0,0);
}
#fly_set_one::after, #fly_set_two::after {
  content:'hello';
  position:absolute;
  top:0;
  left:0;
  width:6px;
  height:6px;
  background:#fff;
  border-radius:100%;
  animation:spanAnimation 3s cubic-bezier(0.3, 0.27, 0.07, 1.64) infinite;
  box-shadow:rgba(255,255,255,1) 0 0 20px 2px;
}
@keyframes bigBoxAnimation {
  100% {transform:rotate(360deg);}
}
@keyframes boxAnimation{
  50% {transform:translateY(-150px);}
}
@keyframes spanAnimation {
  50% {transform:translateX(-150px)}
}

.header.dev {
  position: relative;
  max-height: 100%;
  min-height: 97vh;
  height: 100%;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  padding: 6.65rem 1rem 1.5rem;
  /* background: #6c56db;
  background: #faf9fa; */
}
@media screen and (min-height: 780px) {
  .header.dev {
    min-height: 736px;
  }
}
.header.dev .hero {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 1.75rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 4rem rgba(52, 4, 178, 0.1), 0 0.125rem 0.35rem rgba(52, 4, 178, 0.1);
  background: transparent !important;
}
@media (max-width: 640px) {
  .header.dev .hero {
    padding: 3rem 0;
  }
}

.col-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 45fr 55fr;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}
.col-2 .content {
  display: block;
  padding: 3rem 0rem 3.5rem 2rem;
  text-align: left;
  margin: 0;
}
.col-2 .content h3 {
  margin-bottom: 1.75rem;
  text-align: left;
  font-size: 1.333rem;
  letter-spacing: 0;
}
.col-2 .content h2,
.col-2 .content h1 {
  margin-left: -0.125rem;
  margin-bottom: 1.75rem;
  text-align: left;
  line-height: 97.5%;
  letter-spacing: -0.15rem;
  text-transform: uppercase;
}
.col-2 .content p {
  max-width: 24rem;
  margin-bottom: 2rem;
  line-height: 1.75;
  color: #fff;
}
.col-2 .content .ctas {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 1060px) {
  .col-2 .content .ctas .btn--primary {
    margin-right: 0rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 1060px) {
  .col-2 .content .ctas .btn {
    white-space: nowrap;
    margin-top: 1rem;
    flex-basis: 100%;
  }
}
@media (max-width: 1060px) {
  .col-2 .content .ctas {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}
@media (max-width: 820px) {
  .col-2 .content .ctas {
    margin: auto;
  }
}
@media (max-width: 820px) {
  .col-2 .content h3 {
    margin-bottom: 2.125rem;
  }
  .col-2 .content h1,
.col-2 .content h2 {
    margin-bottom: 2.125rem;
  }
  .col-2 .content p {
    max-width: 23rem;
  }
}
@media (max-width: 575px) {
  .col-2 .content {
    padding-left: 0;
  }
  .col-2 .content h1,
.col-2 .content h2 {
    font-size: 3.157rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.col-2 .illustration {
  align-self: center;
  position: relative;
}
.col-2 .illustration .details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.col-2 .illustration .plus-sign {
  font-size: 4.7rem;
  font-weight: 700;
}
.col-2 .illustration .icon {
  max-width: 10rem;
  margin-left: -2rem;
}
.col-2 .illustration .icon:hover {
  filter: saturate(1);
}
.col-2 .illustration .icon img {
  width: 100%;
}
@media (max-width: 1060px) {
  .col-2 .illustration {
    padding-top: 3rem;
  }
  .col-2 .illustration .details {
    flex-flow: column nowrap;
  }
  .col-2 .illustration .plus-sign {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2.8rem;
  }
  .col-2 .illustration .icon {
    margin: 0;
    max-width: 8rem;
  }
}
@media (max-width: 1060px) {
  .col-2 {
    width: 90%;
    grid-template-columns: 50fr 50fr;
  }
  .col-2 .content {
    margin: auto;
    padding: 3rem 0rem 3.5rem 0rem;
  }
}
@media (max-width: 820px) {
  .col-2 {
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .col-2 .content {
    margin: auto;
    padding: 3rem 0rem 3.5rem 0rem;
  }
  .col-2 .content h3,
.col-2 .content h1,
.col-2 .content h2,
.col-2 .content p {
    text-align: center;
  }
  .col-2 .illustration {
    padding-bottom: 4rem;
    position: relative;
  }
  .col-2 .illustration .details {
    justify-content: space-around;
  }
  .col-2 .illustration .details .icon {
    width: 34.5%;
    max-width: 8rem;
    margin-left: 0rem;
  }
  .col-2 .illustration .details .plus-sign {
    padding-top: 1.85rem;
    padding-left: 1.25rem;
  }
}

.spinning-icons {
  max-width: 300px;
  max-height: 300px;
  width: 40vw;
  height: 40vw;
  position: relative;
  animation: spinright 30s infinite linear;
}
.spinning-icons:after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 5vw;
  max-width: 2rem;
  max-height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.5rem inset rgba(37, 8, 112, 0.2);
  background: #ded6f1;
  background: #eaebfa;
}
.spinning-icons .circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 4px solid #c7c9f0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 640px) {
  .spinning-icons .circle {
    border: 2px solid #c7c9f0;
  }
}
.spinning-icons img {
  position: absolute;
  width: 45%;
  animation: spinright 30s infinite linear reverse;
}
.spinning-icons img:hover {
  filter: saturate(1);
}
.spinning-icons img:nth-of-type(1) {
  top: -20%;
  left: 27.5%;
}
.spinning-icons img:nth-of-type(2) {
  top: 15%;
  left: -20%;
}
.spinning-icons img:nth-of-type(3) {
  bottom: -12%;
  left: -2%;
}
.spinning-icons img:nth-of-type(4) {
  bottom: -12%;
  right: -2%;
}
.spinning-icons img:nth-of-type(5) {
  top: 12%;
  right: -20%;
}
@media (max-width: 767px) {
  .spinning-icons {
    width: 60vw;
    height: 60vw;
  }
}

@keyframes spinright {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ======================================================================
 * WHAT I DO - SECTION
 * ======================================================================*/
.what-i-do {
  background: #ffffff;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.what-i-do__content {
  margin-bottom: 4rem;
}
.what-i-do__content h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.what-i-do__content h2:after {
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 800px) {
  .what-i-do__content .child:first-of-type .img {
    margin-top: 1rem;
  }
}
.what-i-do__content .child {
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: auto;
}
.what-i-do__content .child .text {
  box-sizing: border-box;
  flex-basis: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 3rem;
  margin: 2rem 0;
  line-height: 1.6;
  border-right: 1px solid rgba(82, 79, 105, 0.15);
}
.what-i-do__content .child .text h3 {
  margin-bottom: 1.125rem;
  font-size: 1.777rem;
  text-transform: capitalize;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.05rem;
  max-width: 300px;
}
@media (max-width: 575px) {
  .what-i-do__content .child .text h3 {
    font-size: 1.577rem;
    line-height: 1.4;
    letter-spacing: -0.075rem;
  }
}
.what-i-do__content .child .img {
  box-sizing: border-box;
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.what-i-do__content .child .img img {
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: auto;
  max-height: 26rem;
  margin-top: 2rem;
}
@media screen and (max-width: 800px) {
  .what-i-do__content .child {
    width: 95%;
    max-width: 480px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
  }
  .what-i-do__content .child .text {
    padding: 0.5rem 0;
    order: 1;
    border: none;
  }
  .what-i-do__content .child .text h3 {
    max-width: 340px;
  }
  .what-i-do__content .child .img {
    margin-top: -3.5rem;
    margin-bottom: 2.5rem;
    aspect-ratio: 9/5.25;
    max-height: 26rem;
    border-radius: 0.5rem;
    order: 2;
  }
  .what-i-do__content .child .img img {
    width: auto;
    margin-top: 0;
  }
}
@media screen and (max-width: 575px) {
  .what-i-do__content .child .text h3 {
    max-width: 280px;
    margin-bottom: 0.75rem;
    font-size: 1.577rem;
    letter-spacing: -0.025rem;
  }
  .what-i-do__content .child .img {
    max-height: 24rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .what-i-do__content .child .img img {
    height: 100%;
    margin-top: -1rem;
  }
}
@media screen and (max-width: 480px) {
  .what-i-do__content .child .img {
    max-height: 20rem;
  }
  .what-i-do__content .child .img img {
    max-height: 20rem;
  }
}
.what-i-do__content .dynamic-sites .child {
  border-top: 1px solid rgba(82, 79, 105, 0.15);
}
.what-i-do__content .dynamic-sites .child .text {
  order: 1;
  border-left: 1px solid rgba(82, 79, 105, 0.15);
  border-right: 0;
}
.what-i-do__content .dynamic-sites .child .text h3 {
  max-width: 325px;
}
.what-i-do__content .dynamic-sites .child .img {
  order: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .what-i-do__content .dynamic-sites .child .text {
    order: 1;
    border: none;
  }
  .what-i-do__content .dynamic-sites .child .text h3 {
    max-width: 360px;
  }
  .what-i-do__content .dynamic-sites .child .img {
    max-height: 20rem;
    order: 2;
  }
}
@media screen and (max-width: 575px) {
  .what-i-do__content .dynamic-sites .child .img {
    max-height: 20rem;
  }
  .what-i-do__content .dynamic-sites .child .text h3 {
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .what-i-do__content .dynamic-sites .child .img {
    max-height: 20rem;
  }
  .what-i-do__content .dynamic-sites .child .img img {
    max-height: 20rem;
  }
}
@media screen and (max-width: 800px) {
  .what-i-do__content {
    padding: 1rem 0 0.5rem;
  }
  .what-i-do__content h2 {
    max-width: 480px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 3rem;
  }
  .what-i-do__content h2:after {
    left: 0.25rem;
    transform: translateX(0);
  }
}
@media screen and (max-width: 575px) {
  .what-i-do__content h2 {
    margin-bottom: 2rem;
  }
}

/* ======================================================================
* WHY CHOOSE ME - SECTION
* ======================================================================*/
.choose-me {
  position: relative;
}
.choose-me:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0rem;
  left: 0;
  background: #3404b2;
  z-index: -1;
}
@media (max-width: 992px) {
  .choose-me:before {
    height: 100%;
  }
}
.choose-me:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8.5vw;
  width: 100%;
  height: 12.5vw;
  z-index: -1;
  background-image: url("../img/fluidbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.choose-me__content h2 {
  text-align: center;
  font-family: "poppins", "segoe ui", "gill  sans mt", sans-serif;
  margin-bottom: 4rem;
}
.choose-me__content h2:after {
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 992px) {
  .choose-me__content {
    padding: 8rem 0 6rem;
  }
  .choose-me__content h2 {
    color: white;
  }
}
@media (max-width: 640px) {
  .choose-me__content {
    padding: 4rem 0 4rem;
  }
  .choose-me__content h2 {
    color: white;
  }
}

.choose-me__content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 2rem;
  margin: auto;
  position: relative;
  padding-bottom: 4rem;
}
.choose-me__content .cards .card {
  display: grid;
  grid-template-rows: 7rem minmax(0.8rem, 3.5rem) minmax(3rem, auto);
  row-gap: 1rem;
  min-height: 4rem;
  box-shadow: 0 1.5rem 2.5rem -0.5rem rgba(30, 5, 70, 0.3);
  padding: 2.25rem 2.15rem 2.5rem;
  background: #fffb00;
  border-radius: 0.75rem;
  color: #fff;
  transition: ease-out 0.2s;
}
.choose-me__content .cards .card .img {
  display: flex;
  align-items: flex-end;
}
.choose-me__content .cards .card .img img {
  height: 100%;
}
.choose-me__content .cards .card .img lord-icon {
  width: 104px;
  height: 104px;
  align-self: center;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
.choose-me__content .cards .card h3 {
  display: flex;
  align-items: flex-end;
  font-size: 1.577rem;
  font-weight: 600;
  letter-spacing: -0.035rem;
  line-height: 1.1;
}
.choose-me__content .cards .card p {
  color: rgba(255, 255, 255, 0.6);
}
.choose-me__content .cards .card:hover {
  transform: translateY(-0.25rem) scale(1.02);
}
@media (max-width: 992px) {
  .choose-me__content .cards .card {
    row-gap: 1rem;
  }
}
@media (max-width: 767px) {
  .choose-me__content .cards .card {
    grid-template-rows: 7rem minmax(0.8rem, auto) minmax(3rem, auto);
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .choose-me__content .cards p {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .choose-me__content .cards {
    max-width: 720px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .choose-me__content .cards .card:last-child {
    margin: 0 auto;
    grid-column: span 2;
    max-width: 280px;
  }
}
@media (max-width: 767px) {
  .choose-me__content .cards {
    max-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    row-gap: 1.5rem;
  }
  .choose-me__content .cards .card:last-child {
    margin: 0 auto;
    grid-column: span 1;
    max-width: inherit;
  }
  .choose-me__content .cards h2 {
    margin-bottom: 4rem;
  }
}

/* ======================================================================
 * MY WORK - SECTION
 * ======================================================================*/
.work {
  margin-top: 8rem;
}
.work__content {
  display: flex;
}
.work__content h2:after {
  left: 0;
}
.work__content p {
  line-height: 1.7;
}
.work__content .text {
  max-width: 35rem;
  flex: 1 0 45%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.work__content .text p {
  padding-right: 3rem;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .work__content .text p {
    padding-right: 0;
  }
}
.work__content .text .cta {
  margin-top: 3.5rem;
}
.work__content .img {
  flex: 2 0 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__content .img img {
  width: 100%;
  max-width: 45rem;
}
@media screen and (max-width: 800px) {
  .work__content {
    width: 90%;
    max-width: 480px;
    flex-flow: column;
    margin-top: 0;
    margin: auto;
  }
  .work__content .img {
    margin-top: 2rem;
  }
}
.work.dev {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding: 5rem 1rem 3rem;
  background: #faf9fa;
  box-shadow: 0 -1rem 1rem -0.35rem inset rgba(52, 4, 178, 0.05);
}

/* ======================================================================
 * CONTACT ME - SECTION
 * ======================================================================*/
.contact-me {
  background: rgba(222, 214, 241, 0.1);
}
.contact-me h2 {
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 2rem;
}
.contact-me .mycontainer {
  position: relative;
}

.contact-me__form {
  box-sizing: border-box;
  width: 100%;
  max-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  margin: auto;
  padding: 2rem 2rem;
}
.contact-me__form label {
  width: 100%;
  display: block;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgba(51, 46, 75, 0.75);
}
.contact-me__form input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 3rem;
}
.contact-me__form textarea {
  width: 100%;
  min-height: 7.5rem;
}
.contact-me__form input,
.contact-me__form textarea {
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid rgba(110, 61, 233, 0.25);
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  background: rgba(222, 214, 241, 0.4);
  transition: border 0.1s linear;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Sora";
  color: #332e4b;
}
.contact-me__form input:focus,
.contact-me__form textarea:focus {
  border-bottom: 2px solid #250870;
  outline: 0;
}
.contact-me__form button {
  font-family: "Sora";
  margin: auto;
}
.contact-me__form button svg {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  margin-bottom: -0.125rem;
  transform: rotate(-20deg);
}
.contact-me__form button:hover figure {
  animation: shake 0.7s ease;
}
.contact-me__form .form-element {
  margin-top: 1.5rem;
}
.contact-me__form .form-element:nth-of-type(3) {
  grid-column: span 2;
}
.contact-me__form .form-element:nth-of-type(4) {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .contact-me__form .form-element:nth-of-type(3) {
    grid-column: span 1;
  }
  .contact-me__form .form-element:nth-of-type(4) {
    grid-column: span 1;
  }
}
@media (max-width: 767px) {
  .contact-me__form {
    grid-template-columns: 1fr;
  }
}

/* ======================================================================
 * FOOTER - SECTION
 * ======================================================================*/
footer {
  box-sizing: border-box;
  min-height: 6rem;
  padding: 3rem;
  background: #0b0027;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}
footer .bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .bar .social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
footer .bar .social__link {
  filter: saturate(0);
}
footer .bar .social__link:hover {
  filter: saturate(1);
}
@media (max-width: 640px) {
  footer .bar {
    flex-flow: column nowrap;
  }
  footer .bar .copyright {
    text-align: center;
    line-height: 161.8%;
  }
  footer .bar .social {
    margin-top: 2rem;
  }
}

/* ======================================================================
  * OTHER
  * ======================================================================*/
.modal {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.modal.open {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(51, 46, 75, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

.choice-wrapper {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.choice-card {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  max-width: 40rem;
  min-height: 5rem;
  padding: 1.125rem 5% 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1rem 3rem rgba(37, 8, 112, 0.3);
  background: #f3f1f6;
  opacity: 0;
  pointer-events: none;
}
.choice-card.open {
  animation: slideup 0.5s ease-out forwards;
  pointer-events: auto;
}
.choice-card.close {
  opacity: 0;
  animation: slidedown 0.3s ease-out forwards;
  pointer-events: none;
}
.choice-card h3 {
  font-size: 1.777rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
@media (max-width: 575px) {
  .choice-card h3 {
    line-height: 1.2;
    max-width: 20rem;
    margin: auto;
  }
}
.choice-card .close {
  box-sizing: border-box;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  transition: 0.1s ease-out;
  cursor: pointer;
  font-family: Arial;
  font-size: 1.25rem;
  font-weight: 700;
}
.choice-card .close:hover {
  transform: scale(1.1);
}
.choice-card .choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7%;
  padding-top: 3.5rem;
  border-top: 1px solid #ded6f1;
}
.choice-card .choices img {
  width: 100%;
}
.choice-card .choices .choice {
  background: #fff;
  padding: 2rem 1.5em;
  border-radius: 1.5rem;
  box-shadow: 0 0.75rem 1.25rem -0.25rem rgba(52, 4, 178, 0.2), 0 -0.75rem 1.25rem inset rgba(52, 4, 178, 0.1);
  filter: saturate(0);
  transition: 100ms ease-out;
  cursor: pointer;
}
.choice-card .choices .choice.selected {
  border: 1px solid #fffb00;
  filter: saturate(1);
  box-shadow: 0 0.75rem 1.25rem -0.25rem rgba(52, 4, 178, 0.35), 0 -0.75rem 1.5rem inset rgba(52, 4, 178, 0.15);
  transform: scale(1.075);
  color: #fffb00;
}
.choice-card .choices .choice.selected:hover {
  filter: saturate(1);
  transform: scale(1.095);
}
.choice-card .choices .choice.selected:active {
  transform: scale(1.055);
}
.choice-card .choices .choice:hover {
  transform: scale(1.035);
  filter: saturate(0.3);
}
.choice-card .choices .choice figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice-card .choices .choice figcaption {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  line-height: 120%;
}
@media (max-width: 575px) {
  .choice-card .choices {
    font-size: 12px;
  }
}
.choice-card .cta {
  width: 100%;
  margin-top: 3.5rem;
  padding-top: 0.85rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ded6f1;
}
@media (max-width: 575px) {
  .choice-card {
    padding: 1rem 2rem 1rem;
  }
  .choice-card h3 {
    font-size: 1.333rem;
    margin-bottom: 1rem;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidedown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20rem);
    opacity: 0;
  }
}
#fab {
  z-index: 2000;
  box-sizing: border-box;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 6rem;
  min-height: 6rem;
  padding: 0.125rem;
  border-radius: 50%;
  box-shadow: 0 0.75rem 2.5rem rgba(37, 8, 112, 0.35);
  transition: 0.5s 0.2s ease-out;
}
#fab.hide {
  transform: translateX(10rem);
  opacity: 0;
}

*.remove {
  display: none !important;
}

.project-body {
  background: #f3f2f2;
}

.projects-header {
  padding-top: 14rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  color: #3404b2;
  text-align: center;
}
.projects-header .mycontainer {
  max-width: 1100px;
}
.projects-header h1 {
  margin-bottom: 1.125rem;
  font-size: 3.157rem;
  font-weight: 600;
  text-transform: uppercase;
}
.projects-header h1:after {
  bottom: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
}
.projects-header p {
  max-width: 35rem;
  margin: auto;
  color: #332e4b;
}

.project-cards {
  position: relative;
  padding-bottom: 5rem;
  /*
    &:before {
      position: relative;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 24rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
      background-color: $color-primary-dark;
      color: $color-white;
      // text-align: center;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 23rem;
      width: 100%;
      height: 13vw;
      z-index: -1;
      background-image: url("../img/fluidbg.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  */
}
.project-cards .mycontainer {
  max-width: 1100px;
}
@media screen and (max-width: 767px) {
  .project-cards {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-card {
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 1rem 2.4rem -0.005rem rgba(51, 46, 75, 0.1), 0 0.25rem 1rem rgba(51, 46, 75, 0.05);
  background: rgba(255, 255, 255, 0.75);
  transition: 0.15s ease-out;
  cursor: pointer;
  z-index: 1;
}
.project-card__image {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center top;
}
.project-card__body {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 1rem 1rem;
}
.project-card__body > *:first-child {
  margin-bottom: 0.75rem;
}
.project-card__tag-list {
  display: flex;
  flex-flow: row wrap;
}
.project-card__tag {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background: #efefef;
  font-size: 0.75rem;
}
.project-card__title {
  font-size: 18px;
  line-height: 1.4;
  padding: 0.5rem 0;
}
.project-card a {
  text-decoration: none;
  color: #332e4b;
}
.project-card:hover {
  transform: scale(1.0125) translateY(-0.45rem);
  box-shadow: 0 1.75rem 2rem -0.75rem rgba(51, 46, 75, 0.15), 0 0.5rem 0.5rem -0.075rem rgba(51, 46, 75, 0.035);
}
.project-card:hover a {
  text-decoration: underline;
}

.about-body {
  background: rgba(110, 61, 233, 0.025);
}

.about {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 6rem 0.5rem 4rem 1rem;
}
.about__content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 6rem 1rem 4rem;
}
@media (max-width: 575px) {
  .about__content {
    padding: 3.5rem 0.5rem;
  }
}
.about__body {
  margin: 4rem auto;
}
.about .skill-list > * {
  box-sizing: border-box;
}
@media (max-width: 575px) {
  .about .skill-list > * {
    padding-left: 0.5rem;
  }
}

/* ==============================
   About: Header
   ============================== */
.about__header {
  box-sizing: border-box;
}
.about__header .img {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 15rem;
  max-height: 15rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.about__header .img img {
  display: block;
  position: relative;
  width: 103%;
  object-fit: cover;
  margin-left: -0.35rem;
  margin-top: -0.3rem;
  transform: scale(1.05);
}
.about__header .img-holder {
  display: flex;
  align-items: flex-start;
}
.about__header h3 {
  font-size: 1.777rem;
  font-weight: 600;
  color: #332e4b;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  margin-left: -0.15rem;
}
.about__header .tech-stack {
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .about__header .tech-stack {
    padding-left: 1rem;
  }
}
.about__header .skill {
  margin-top: 1.25rem;
}
.about__header .skill__name {
  font-weight: 500;
}
.about__header .skill__list {
  margin-top: 0.5rem;
}
.about__header .skill__list li {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.75rem rgba(52, 4, 178, 0.1), 0 0.1rem 0.25rem rgba(52, 4, 178, 0.05);
  font-weight: 300;
  line-height: 1.4;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}
.about__header .skill__list li .icon {
  margin-right: 0.4rem;
}
.about__header .skill__list li .icon svg {
  width: 2.25rem;
  height: 2.25rem;
}
@media (max-width: 575px) {
  .about__header .skill__list li {
    padding: 0.45rem 0.5rem;
    font-size: 14px;
  }
  .about__header .skill__list li .icon {
    display: inline-flex;
    align-items: center;
  }
  .about__header .skill__list li .icon svg {
    width: 28px;
    height: 28px;
  }
  .about__header .skill__list li .icon img {
    width: 28px;
  }
}

/* ==============================
   About: Body
   ============================== */
.about__body {
  width: 100%;
  max-width: 660px;
  margin-top: 6rem;
}
.about__body h1 {
  font-size: 1.777rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
}
.about__body p {
  margin: 1rem 0;
}

/*# sourceMappingURL=styles.css.map */
